--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.13.0+cu130
torchvision==0.28.0+cu130
torchmetrics==1.8.2
torch-fidelity==0.3.0
numpy==2.4.6
scipy==1.17.1
pandas==3.0.5
matplotlib==3.11.1
jupyterlab==4.6.2
ipykernel==7.3.0
nbconvert==7.17.1
tqdm==4.70.0
